html, body {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

/* 거리표시 팝업*/
.mPop{
  border: 1px;
  background-color: #FFF;
  font-size: 12px;
  border-color: #FF0000;
  border-style: solid;
  text-align: center;
}

/*공통사용 클래스*/
.mPopStyle {
  border: 1px;
  background-color: #FFF;
  font-size: 12px;
  border-color: #FF0000;
  border-style: solid;
  text-align: left;
}

.search-box {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  width: 90%;
  height: 50px;
  padding : 0 16px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: white;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.search-box .search i {
  margin-right: 8px;
  color: #2539A0;
}

.search-box .search input {
  border: none;
}

.search-box .search input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #C4C4C4;
}

.search-box i {
  font-size: 18px;
}

.bottom-sheet {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 240px;
  border-radius: 10px 10px 0 0;
  background-color: #272020;
  font-family: 'Roboto', sans-serif;
  color: white;
  box-shadow: 0 4px 30px 5px rgba(204, 255, 0, 0.03) inset; 
}

.bottom-sheet .info-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-bottom: 1px solid #C4C4C4;
}

.bottom-sheet .info-summary .loca {
  font-size: 12px;
  font-weight: 700;
}

.bottom-sheet .info-summary .eval-avg i {
  margin-right: 4px;
  font-size: 18px;
  color: #FFD338;
}

.bottom-sheet .info-summary .eval-avg .num {
  font-size: 14px;
  font-weight: 700;
}

.bottom-sheet .info-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px 20px;
}

.bottom-sheet .info-detail .management {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-sheet .info-detail .management .management__info {
  display: flex;
  flex-direction: column;
}

.bottom-sheet .info-detail .management .management__info .management__name {
  font-size: 12px;
  font-weight: 700;
}

.bottom-sheet .info-detail .management .management__info .management__detail {
  margin-top: 8px;
  font-size: 10px;
  font-weight: 400;
}

.bottom-sheet .info-detail .management i {
  font-size: 26px;
  color: #38FF7C;
}

.bottom-sheet .info-detail .eval {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-sheet .info-detail .eval .guide {
  font-size: 12px;
  font-weight: 400;
}

.bottom-sheet .info-detail .eval .icons {
  display: flex;
  margin: 16px 0 0 32px;
  font-size: 32px;
  color: #C4C4C4;
}

.bottom-sheet .info-detail .eval .icons i {
  margin-right: 32px;
}

.bottom-sheet .info-detail .eval .icons .selected {
  color: #FFD338;
}